@{
    Layout = null;
}

<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Money Loris - Você no comando das suas finanças">
    <link rel="canonical" href="https://www.moneyloris.com.br/">

    <title>Money Loris - Você no comando das suas finanças</title>

    <!-- Open Graph -->
    <meta property="og:type" content="website">
    <meta property="og:locale" content="pt_BR" />
    <meta property="og:site_name" content="Money Loris">
    <meta property="og:image" content="https://www.moneyloris.com.br/img/moneyloris-mascot.png">
    <meta property="og:image:width" content="1000">
    <meta property="og:image:height" content="1000">
    <meta property="og:image:type" content="image/png">
    <meta property="og:title" content="Money Loris">
    <meta property="og:description" content="Money Loris - Você no comando das suas finanças">
    <meta property="og:url" content="https://www.moneyloris.com.br/">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="stylesheet" href="~/css/bs5-overrides.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/common.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/landing.css" asp-append-version="true" />

</head>

<body translate="no">

    <section class="m-0 p-0">

        <nav class="navbar bg-primary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="img/moneyloris-mascot.png" class="brand-mascot" alt="mascot">
                    <img src="img/moneyloris-logo-text.svg" alt="MONEY LORIS">
                </a>
                <div class="d-flex">
                    <a class="btn sys-bg-dark-3 sys-fg-dark-2 fw-bold d-none d-lg-block" href="/app">Entrar</a>
                </div>
            </div>
        </nav>

        <div class="container-fluid hero-container">
            <div class="row g-0">
                <div class="col-12 col-lg-4 order-2 order-lg-1">
                    <div class="hero-card">

                        <div class="slogan">Você no comando das suas finanças</div>
                        <div class="subtexto">O <span class="ml-font">Money Loris</span> é um gerenciador financeiro pessoal 100% online, projetado para ser incrivelmente prático para anotar seus gastos na rua com um celular, e extremamente detalhado para uso no computador.</div>
                        <div class="subtexto d-none d-lg-block">No <span class="ml-font">Money Loris</span> você tem Lançamento de despesas e receitas, Fatura de cartão, Contas, Categorias, Relatórios, tudo reunido em um só lugar!</div>

                        <a class="btn btn-lg w-75 sys-bg-dark-2 sys-fg-dark-3 fw-bold d-lg-none my-2" href="/app">Entrar</a>

                        <div class="d-flex flex-column mt-2">
                            <div class="sys-fg-dark-2 fs-3 fw-bold mb-3">Interessou? Arrasta pra baixo pra saber mais</div>
                            <i class="fa-solid fa-arrow-down fa-6x sys-fg-dark-2 d-none d-lg-block"></i>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-8 order-1 order-lg-2">

                    <div id="mlCarousel" class="carousel carousel-dark slide carousel-fade" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#mlCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#mlCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#mlCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/img/landing/moneyloris-hero-1.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/landing/moneyloris-hero-2.jpg" class="d-block w-100">
                            </div>
                            <div class="carousel-item">
                                <img src="/img/landing/moneyloris-hero-3.jpg" class="d-block w-100">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </section>


    <section class="folder-container folder-wizard">
        <div class="folder-text">
            <div class="fs-1 fw-bold lh-sm">Super fácil de usar</div>
            <div class="fs-4 mt-4">O <span class="ml-font">Money Loris</span> foi cuidadosamente pensado para te ajudar a anotar seus gastos na hora da compra.</div>
            <div class="fs-4 mt-4">Evite esquecimentos! Lance suas despesas rapidamente onde você estiver.</div>
            <div class="fs-4 mt-4">Acesse o <span class="ml-font">Money Loris</span> pela internet ou instale o app diretamente no seu celular ou computador <span class="letra-miuda">(Android e Windows)</span>.</div>
        </div>
    </section>

    <section class="folder-container folder-contas">
        <div class="folder-text">
            <div class="fs-1 fw-bold lh-sm">Controle contas e cartões</div>
            <div class="fs-4 mt-4">Conta corrente, cartão de crédito, carteiras digitais, ticket alimentação, poupança… com o <span class="ml-font">Money Loris</span> nada fica de fora!</div>
            <div class="fs-4 mt-4">Cadastre cartões e contas dos mais variados tipos, e associe cores para fácil identificação.</div>
            <div class="fs-4 mt-4">Para as contas, veja seu saldo atualizado, e para os cartões defina o limite, dia de fechamento e de vencimento.</div>
            <div class="fs-4 mt-4"></div>
        </div>
    </section>

    <section class="folder-container folder-lancamento">
        <div class="folder-text">
            <div class="fs-1 fw-bold lh-sm">Seguro e Confiável</div>
            <div class="fs-4 mt-4">Pode ficar tranquilo: todas as suas informações são enviadas de forma 100% segura, e seus dados ficam armazenados na nuvem.</div>
            <div class="fs-4 mt-4">O <span class="ml-font">Money Loris</span> não efetua nenhum tipo de movimentação financeira, não se comunica com bancos e outras instituições, e jamais vende seus dados à terceiros.</div>
        </div>
    </section>

    <section class="folder-container folder-relatorio">
        <div class="folder-text">
            <div class="fs-1 fw-bold lh-sm">Relatórios</div>
            <div class="fs-4 mt-4">O <span class="ml-font">Money Loris</span> possui o exclusivo relatório de Lançamentos por Categoria, com visão de 12 meses.</div>
            <div class="fs-4 mt-4">Tenha um panorama completo e estruturado da sua vida financeira, compare gastos mensais e muito mais, a qualquer momento.</div>
        </div>
    </section>

    <section>

        <div class="container-xxl">

            <div class="fs-2 fw-bold sys-fg-dark-2 my-3">Perguntas Frequentes</div>

            <div class="row">

                <div class="col-12 col-lg-8 offset-lg-2 my-2">
                    <div class="card">
                        <div class="card-body text-start">
                            <h5>É possível importar dados bancários?</h5>
                            <div class="mt-4">
                                <span class="fw-bold">O <span class="ml-font">Money Loris</span> é baseado em controle manual</span>. Acreditamos que o real controle financeiro vem do acompanhamento de perto das suas receitas e despesas. Assim, todos os nossos recursos foram desenvolvidos para facilitar seus lançamentos e consultas.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-8 offset-lg-2 my-2">
                    <div class="card">
                        <div class="card-body text-start">
                            <h5>Pode ser usado offline (sem internet?)</h5>
                            <div class="mt-4">
                                <span class="fw-bold">O <span class="ml-font">Money Loris</span> é um sistema 100% online</span>, e não armazena nenhuma informação no seu dispositivo. Assim, é necessário conexão com a internet para utilizá-lo.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-8 offset-lg-2 my-2">
                    <div class="card">
                        <div class="card-body text-start">
                            <h5>Como faço para criar uma conta?</h5>
                            <div class="mt-4">
                                <span class="fw-bold">O <span class="ml-font">Money Loris</span> ainda está na sua fase fechada</span>, e por enquanto apenas alguns convidados estão usufruindo de todos os benefícios que o app pode prover. Se tiver interesse, por favor entre em contato via e-mail: <span class="fw-bold sys-fg-dark-2">contato@moneyloris.com.br</span>.
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="position-absolute w-100 bottom-0 start-50 translate-middle-x mb-4">
            <div class="d-flex flex-column">
                <img src="img/moneyloris-mascot-transparent.svg" class="brand-mascot" alt="mascot">
                <div class="mt-3">
                    <div>© 2023 <span class="ml-font">Money Loris</span>. Todos os direitos reservados.</div>
                    <div>Desenvolvido por Luciano Lorencini</div>
                </div>
            </div>
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</body>
</html>
