<div class="modal" id="categoriaModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Criar Nova Categoria</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form ref="form">
                    <div class="row g-1">

                        <div class="col-9">
                            <label class="form-label required-asterisk">Nome</label>
                            <input class="form-control" required maxlength="20">
                        </div>

                        <div class="col-3">
                            <label class="form-label">Ordem</label>
                            <input class="form-control" type="number">
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="d-flex justify-content-between w-100">
                    <button type="button" class="btn btn-danger">Excluir</button>
                    <div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="button" class="btn btn-primary px-4">Salvar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>