<section class="sys-container-fullhd container-titulo">
    <div class="area-titulo">
        @await Html.PartialAsync("_BotaoVoltar")
        <div class="titulo">Relatório: Lançamentos por Categoria</div>
    </div>
</section>

<section class="sys-container-fullhd">

    <div class="list-group list-group-flush">
        <div class="list-group-item p-0">

            <div class="rep-linha">

                <div class="item">
                </div>

                <div class="mes mes-titulo">
                    <div class="m">JAN</div>
                    <div class="y">2023</div>
                </div>

                <div class="mes mes-titulo">
                    <div class="m">FEV</div>
                    <div class="y">2023</div>
                </div>
                <div class="mes mes-titulo">
                    <div class="m">MAR</div>
                    <div class="y">2023</div>
                </div>
                <div class="mes mes-titulo">
                    <div class="m">ABR</div>
                    <div class="y">2023</div>
                </div>
                <div class="mes mes-titulo">
                    <div class="m">MAI</div>
                    <div class="y">2023</div>
                </div>
                <div class="mes mes-titulo">
                    <div class="m">JUN</div>
                    <div class="y">2023</div>
                </div>
                <div class="mes mes-titulo">
                    <div class="m">JUL</div>
                    <div class="y">2023</div>
                </div>
                <div class="mes mes-titulo">
                    <div class="m">AGO</div>
                    <div class="y">2023</div>
                </div>
                <div class="mes mes-titulo">
                    <div class="m">SET</div>
                    <div class="y">2023</div>
                </div>
                <div class="mes mes-titulo">
                    <div class="m">OUT</div>
                    <div class="y">2023</div>
                </div>
                <div class="mes mes-titulo">
                    <div class="m">NOV</div>
                    <div class="y">2023</div>
                </div>
                <div class="mes mes-titulo">
                    <div class="m">DEZ</div>
                    <div class="y">2023</div>
                </div>

            </div>

        </div>

    </div>

    <div class="list-group list-group-flush">
        <div class="list-group-item p-0">

            <div class="rep-linha">

                <div class="item item-g1">
                    DESPESAS
                </div>

                <div class="mes valor-g1">
                    <span>7.367,98</span>
                </div>
                <div class="mes valor-g1">
                    <span>7.367,98</span>
                </div>
                <div class="mes valor-g1">
                    <span>7.367,98</span>
                </div>
                <div class="mes valor-g1">
                    -
                </div>
                <div class="mes valor-g1">
                    -
                </div>
                <div class="mes valor-g1">
                    -
                </div>
                <div class="mes valor-g1">
                    -
                </div>
                <div class="mes valor-g1">
                    -
                </div>
                <div class="mes valor-g1">
                    -
                </div>
                <div class="mes valor-g1">
                    -
                </div>
                <div class="mes valor-g1">
                    -
                </div>
                <div class="mes valor-g1">
                    -
                </div>

            </div>

            <div class="list-group list-group-flush">
                <div class="list-group-item p-0">

                    <div class="rep-linha">

                        <div class="item">
                            Moradia
                        </div>

                        <div class="mes valor-g2">
                            <span>1.761,17</span>
                        </div>
                        <div class="mes valor-g2">
                            <span>1.761,17</span>
                        </div>
                        <div class="mes valor-g2">
                            <span>1.761,17</span>
                        </div>
                        <div class="mes valor-g2">
                            -
                        </div>
                        <div class="mes valor-g2">
                            -
                        </div>
                        <div class="mes valor-g2">
                            -
                        </div>
                        <div class="mes valor-g2">
                            -
                        </div>
                        <div class="mes valor-g2">
                            -
                        </div>
                        <div class="mes valor-g2">
                            -
                        </div>
                        <div class="mes valor-g2">
                            -
                        </div>
                        <div class="mes valor-g2">
                            -
                        </div>
                        <div class="mes valor-g2">
                            -
                        </div>

                    </div>

                    <div class="list-group list-group-flush">
                        <div class="list-group-item p-0">

                            <div class="rep-linha">

                                <div class="item">
                                    Condomínio
                                </div>

                                <div class="mes valor-g3">
                                    <span>569,86</span>
                                </div>
                                <div class="mes valor-g3">
                                    <span>569,86</span>
                                </div>
                                <div class="mes valor-g3">
                                    <span>569,86</span>
                                </div>
                                <div class="mes valor-g3">
                                    -
                                </div>
                                <div class="mes valor-g3">
                                    -
                                </div>
                                <div class="mes valor-g3">
                                    -
                                </div>
                                <div class="mes valor-g3">
                                    -
                                </div>
                                <div class="mes valor-g3">
                                    -
                                </div>
                                <div class="mes valor-g3">
                                    -
                                </div>
                                <div class="mes valor-g3">
                                    -
                                </div>
                                <div class="mes valor-g3">
                                    -
                                </div>
                                <div class="mes valor-g3">
                                    -
                                </div>

                            </div>

                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</section>

@using (Html.VueStyle())
{
    <style type="text/css">

        .rep-linha {
            display: grid;
            grid-template-columns: auto repeat(12, 7%);
            grid-auto-flow: column;
            color: var(--sys-color-dark-1);
        }

            .rep-linha .item {
                border: 1px solid var(--sys-color-light-2);
                padding: 0 0.25rem;
            }

            .rep-linha .mes {
                border: 1px solid var(--sys-color-light-2);
            }

        .mes-titulo {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0.5rem 0;
        }

            .mes-titulo .m {
                font-size: 1.35rem;
                line-height: 1.25rem;
                font-weight: bold;
            }

            .mes-titulo .y {
                font-size: 1rem;
                line-height: 1.35rem;
                font-weight: bold;
            }

        .rep-linha .item .item-g1 {
        }

        .valor-g1 {
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 0 0.25rem;
            font-size: 1.2rem;
            font-weight: bold;
        }

        .valor-g2 {
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 0 0.25rem;
            font-size: 1rem;
            font-weight: bold;
        }

        .valor-g3 {
            height: 2.5rem;
            display: flex;
            align-items: center;
            justify-content: end;
            padding: 0 0.25rem;
            font-size: 1rem;
        }

    </style>
}