<section class="sys-container-fullhd container-titulo">
    <div class="area-titulo">
        @await Html.PartialAsync("_BotaoVoltar")
        <div class="titulo">Relatório: Lançamentos por Categoria</div>
    </div>
</section>

<section class="sys-container-fullhd">

    <div class="d-flex">

        <div>
            RECEITAS
        </div>

        <div class="d-flex flex-column">
            <div>JAN</div>
            <div>2023</div>
        </div>
        <div class="d-flex flex-column">
            <div>FEV</div>
            <div>2023</div>
        </div>
        <div class="d-flex flex-column">
            <div>MAR</div>
            <div>2023</div>
        </div>
        <div class="d-flex flex-column">
            <div>ABR</div>
            <div>2023</div>
        </div>
        <div class="d-flex flex-column">
            <div>MAI</div>
            <div>2023</div>
        </div>
        <div class="d-flex flex-column">
            <div>JUN</div>
            <div>2023</div>
        </div>


    </div>

</section>