<partial name="_ContaModal"></partial>

<section class="container-xxl container-titulo">
    <partial name="_BotaoVoltar"></partial>
    <div class="titulo">Contas e Cartões</div>
</section>

<section class="container-xxl">

    <div class="row g-0 g-lg-2">

        <div class="col col-9 d-none d-lg-block">
            <div class="card">
                <div class="card-body d-flex justify-content-evenly">

                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-3x fa-sack-dollar sys-fg-dark-4"></i>
                        <div class="ms-3">
                            <div class="fs-6 fw-bold">Saldo em Contas</div>
                            <div class="fs-5 fw-bold din-receita">+ R$ 9.588,55</div>
                        </div>
                    </div>

                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-3x fa-piggy-bank sys-fg-dark-4"></i>
                        <div class="ms-3">
                            <div class="fs-6 fw-bold">Poupança</div>
                            <div class="fs-5 fw-bold din-receita">+ R$ 2.758,04</div>
                        </div>
                    </div>

                    <div class="d-flex align-items-center">
                        <i class="fa-solid fa-3x fa-file-invoice sys-fg-dark-4"></i>
                        <div class="ms-3">
                            <div class="fs-6 fw-bold">Dívida em Cartões</div>
                            <div class="fs-5 fw-bold din-despesa">- R$ 7.933,59</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="col col-12 col-lg-3">
            <div class="card sys-bg-light-4">
                <div class="card-body text-center">
                    <div class="d-flex flex-row flex-lg-column align-items-center justify-content-between">

                        <div class="d-flex align-items-center">
                            <i class="fa-solid fa-3x fa-dollar-sign sys-fg-dark-2 d-none d-lg-block"></i>
                            <div class="ms-3 saldo-hint">
                                <div class="fs-6 fw-bold me-3">Saldo Atual:</div>
                                <div class="fs-5 fw-bold din-receita">+ R$ 4.213,00</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

</section>


<section class="container-xxl my-3 my-lg-4">
    <div class="row g-0">
        <div class="col d-flex justify-content-end px-3 px-lg-0">
            <button class="btn btn-primary px-4" data-bs-toggle="modal" data-bs-target="#contaModal"><span class="sys-fg-dark-3 fw-bold">Novo</span></button>
        </div>
    </div>
</section>

<section class="container-xxl">

    <div class="row g-0 g-lg-3">

        <div class="col col-12 col-lg-6 col-xl-3">
            <div class="conta-container sys-clicavel">
                <div class="icone">
                    <i class="fa-solid fa-credit-card" style="color: #820AD1;"></i>
                </div>
                <div class="conta">
                    <div class="nome">Nubank</div>
                    <div class="descricao">Cartão de Crédito • #1</div>
                </div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
                <div class="saldo">
                    <div class="fs-6 fw-bold d-none d-lg-block">Total de Dívidas:</div>
                    <div class="fw-bold din-despesa">- R$ 7.933,59</div>
                </div>
            </div>
        </div>

        <div class="col col-12 col-lg-6 col-xl-3">
            <div class="conta-container sys-clicavel">
                <div class="icone">
                    <i class="fa-solid fa-money-check-dollar" style="color: #11C56E;"></i>
                </div>
                <div class="conta">
                    <div class="nome">PicPay</div>
                    <div class="descricao">Carteira Digital • #2</div>
                </div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
                <div class="saldo">
                    <div class="fs-6 fw-bold d-none d-lg-block">Saldo Atual:</div>
                    <div class="fw-bold din-receita">R$ 273,00</div>
                </div>
            </div>
        </div>

        <div class="col col-12 col-lg-6 col-xl-3">
            <div class="conta-container sys-clicavel">
                <div class="icone">
                    <i class="fa-solid fa-money-check-dollar" style="color: #0369B9;"></i>
                </div>
                <div class="conta">
                    <div class="nome">Caixa</div>
                    <div class="descricao">Conta Corrente • #3</div>
                </div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
                <div class="saldo">
                    <div class="fs-6 fw-bold d-none d-lg-block">Saldo Atual:</div>
                    <div class="fw-bold din-receita">R$ 5.390,17</div>
                </div>
            </div>
        </div>

        <div class="col col-12 col-lg-6 col-xl-3">
            <div class="conta-container sys-clicavel">
                <div class="icone">
                    <i class="fa-solid fa-money-check-dollar" style="color: #820AD1;"></i>
                </div>
                <div class="conta">
                    <div class="nome">NuConta</div>
                    <div class="descricao">Conta de Pagamento • #4</div>
                </div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
                <div class="saldo">
                    <div class="fs-6 fw-bold d-none d-lg-block">Saldo Atual:</div>
                    <div class="fw-bold din-receita">R$ 3.187,38</div>
                </div>
            </div>
        </div>

        <div class="col col-12 col-lg-6 col-xl-3">
            <div class="conta-container sys-clicavel">
                <div class="icone">
                    <i class="fa-solid fa-money-check-dollar" style="color: #FF0000;"></i>
                </div>
                <div class="conta">
                    <div class="nome">Sodexo</div>
                    <div class="descricao">Cartão de Benefícios • #5</div>
                </div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
                <div class="saldo">
                    <div class="fs-6 fw-bold d-none d-lg-block">Saldo Atual:</div>
                    <div class="fw-bold din-receita">R$ 538,00</div>
                </div>
            </div>
        </div>

        <div class="col col-12 col-lg-6 col-xl-3">
            <div class="conta-container sys-clicavel">
                <div class="icone">
                    <i class="fa-solid fa-money-check-dollar" style="color: #FCF800;"></i>
                </div>
                <div class="conta">
                    <div class="nome">Banco do Brasil</div>
                    <div class="descricao">Poupança • #6</div>
                </div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
                <div class="saldo">
                    <div class="fs-6 fw-bold d-none d-lg-block">Saldo Atual:</div>
                    <div class="fw-bold din-receita">R$ 2.758,04</div>
                </div>
            </div>
        </div>

    </div>

</section>


@using (Html.VueStyle())
{
    <style type="text/css">

        .conta-container {
            display: grid;
            grid-template-columns: 4rem auto 2rem;
            grid-template-rows: 60% 40%;
            grid-template-areas:
                "ga-icone ga-conta ga-opcoes"
                "ga-saldo ga-saldo ga-saldo";
            background-color: #fff;
            padding: 0.5rem 0.75rem 1rem 0.75rem;
        }

            .conta-container .icone {
                grid-area: ga-icone;
                display: flex;
                justify-content: start;
                align-items: start;
            }

                .conta-container .icone i {
                    font-size: 3em;
                }

            .conta-container .conta {
                grid-area: ga-conta;
            }

                .conta-container .conta .nome {
                    font-size: 1.35rem;
                    font-weight: bold;
                }

                .conta-container .conta .descricao {
                    font-size: 0.85rem;
                    line-height: 1rem;
                }

            .conta-container .opcoes {
                grid-area: ga-opcoes;
                text-align: right;
            }

            .conta-container .saldo {
                grid-area: ga-saldo;
                font-size: 1.25rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding-top: 1rem;
            }


        @@media (max-width: 991px) { /*lg*/

            .conta-container {
                grid-template-columns: 3rem auto 7.5rem 2.5rem;
                grid-template-rows: auto;
                grid-template-areas:
                    "ga-icone ga-conta ga-saldo ga-opcoes";
                align-items: center;
                padding: 0.5rem 0.5rem 0.5rem 0.75rem;
                border-top: 1px solid #ccc;
            }

                .conta-container .icone i {
                    font-size: 2em;
                }

                .conta-container .conta .nome {
                    font-size: 1.1rem;
                }

                .conta-container .conta .descricao {
                    font-size: 0.75rem;
                    line-height: 0.9rem;
                }

                .conta-container .saldo {
                    font-size: 1rem;
                    align-items: start;
                    justify-content: end;
                    padding-top: unset;
                }

            .saldo-hint {
                display: flex;  
                align-items: center;
                justify-content: center;
                margin: 0 auto !important;
                width: 95vw;
            }
        }
    </style>
}