<div class="input-group d-none d-lg-block btn-lancamento-lg">
    <button class="btn btn-primary btn-lg px-4 dropdown-toggle" data-bs-toggle="dropdown">
        <span class="sys-fg-dark-3 fw-bold me-2">Novo Lançamento</span>
    </button>
    <ul class="dropdown-menu">
        <li class="dropdown-item" v-on:click="novaDespesa()">
            <div class="icone">
                <i class="fa-solid fa-lg fa-file-invoice-dollar fg-lanc-despesa"></i>
            </div>
            <div class="texto">Despesa</div>
        </li>
        <li class="dropdown-item" v-on:click="novaReceita()">
            <div class="icone">
                <i class="fa-solid fa-lg fa-hand-holding-dollar fg-lanc-receita"></i>
            </div>
            <div class="texto">Receita</div>
        </li>
        <li class="dropdown-item" v-on:click="novaTransferencia()">
            <div class="icone">
                <i class="fa-solid fa-lg fa-money-bill-transfer fg-lanc-transferencia"></i>
            </div>
            <div class="texto">Transferência</div>
        </li>
        <li class="dropdown-item" v-on:click="novoPagamentoFatura()">
            <div class="icone">
                <i class="fa-regular fa-lg fa-credit-card fg-lanc-pag-fatura"></i>
            </div>
            <div class="texto">Pagamento de Fatura</div>
        </li>
    </ul>
</div>