<partial name="_Moeda" />
<partial name="_Pagination" />

<partial name="_LancamentoListagemFiltro"></partial>
<partial name="_LancamentoWizard"></partial>
<partial name="_TransferenciaWizard"></partial>

<partial name="_LancamentoModal"></partial>
<partial name="_TransferenciaModal"></partial>

@using (Html.VueTemplate())
{
    <script type="text/html" id="template-lancamento-listagem">

        <section class="container-xxl container-titulo">
            <div class="area-titulo">
                @await Html.PartialAsync("_BotaoVoltar")
                <div class="titulo">Lançamentos</div>
            </div>
            <div class="area-opcoes">

                @await Html.PartialAsync("_BotaoLancamentoDesktop")

                <div class="d-lg-none me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFiltro">
                    <i class="fa-solid fa-filter fa-lg text-white"></i>
                </div>

            </div>
        </section>


        <LancamentoListagemFiltro v-on:lancamento-filtrar="pesquisar($event)"></LancamentoListagemFiltro>


        <section class="container-xxl lancamento-rolagem">

            <div class="card">
                <div class="card-body p-2">
                    <div class="row g-0">

                        <div class="col col-7 d-none d-lg-block ps-2">
                            <label class="form-label">Período</label>
                            <div class="lh-1 fw-bold fs-5 text-capitalize">{{this.filtro.labelPeriodo}}</div>
                        </div>

                        <div class="col col-12 col-lg-5">

                            <div class="balanco-container">

                                <div class="text-center">
                                    <label class="form-label">Receitas</label>
                                    <div class="valor-rec"><Moeda :valor="balanco.receitas"></Moeda></div>
                                </div>
                                <div class="text-center">
                                    <label class="form-label">Despesas</label>
                                    <div class="valor-desp"><Moeda :valor="balanco.despesas"></Moeda></div>
                                </div>
                                <div class="text-center">
                                    <label class="form-label">Balanço</label>
                                    <div class="valor-saldo"><Moeda :valor="balanco.balanco"></Moeda></div>
                                </div>

                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="list-group mt-2 mb-5">

                <div class="list-group-item d-none d-lg-block">
                    <div class="lancamento-container">
                        <div class="data"><span class="fw-bold">Data</span></div>
                        <div class="conta"><span class="fw-bold">Conta / Cartão</span></div>
                        <div class="categoria"><span class="fw-bold">Categoria / Subcategoria</span></div>
                        <div class="descricao"><span class="fw-bold">Descrição</span></div>
                        <div class="valor"><span>Valor</span></div>
                        <div class="opcoes"></div>
                    </div>
                </div>

                <!---->

                <template v-if="totalResults > 0">
                    <div v-for="l in lista" class="list-group-item sys-clicavel">
                        <div class="lancamento-container">
                            <div class="data">
                                <div class="d-none d-lg-block">{{utils.dataCurta(l.data)}}</div>
                                <div class="d-lg-none data-mob">
                                    <div class="dia">{{utils.dataDia(l.data)}}</div>
                                    <div class="mes">{{utils.dataMesShort(l.data)}}</div>
                                </div>
                            </div>
                            <div class="conta">
                                <i class="fa-solid fa-xl me-2 d-none d-lg-block" v-bind:class="utils.cssIconeByTipoConta(l.meioPagamentoTipo)" v-bind:style="{ 'color': '#' + l.meioPagamentoCor}"></i>
                                <span>{{l.meioPagamentoNome}}</span>
                            </div>
                            <div class="categoria"><span>{{l.categoria}}</span><span v-if="l.subcategoria"> / {{l.subcategoria}}</span></div>
                            <div class="descricao">{{l.descricao}}</div>
                            <div class="valor"><Moeda :valor="l.valor"></Moeda></div>
                            <div class="opcoes">
                                <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                            </div>
                        </div>
                    </div>
                </template>
                <div v-else class="list-group-item d-flex justify-content-center py-3">
                    Nenhum registro encontrado
                </div>

                <div class="list-group-item">
                    <Pagination v-if="totalResults > 0"
                    v-bind:currentPage="filtro.currentPage"
                    v-bind:resultsPerPage="filtro.resultsPerPage"
                    v-bind:totalResults="totalResults"
                    v-on:pagination-change="paginar($event)">
                    </Pagination>
                </div>

                <!---->

                <!--
                <div class="list-group-item sys-clicavel" data-bs-toggle="modal" data-bs-target="#transferenciaModal">
                    <div class="lancamento-container">
                        <div class="data">
                            <div class="d-none d-lg-block">27/01/2023</div>
                            <div class="d-lg-none data-mob">
                                <div class="dia">27</div>
                                <div class="mes">JAN</div>
                            </div>
                        </div>
                        <div class="conta">
                            <i class="fa-solid fa-xl fa-credit-card me-2 d-none d-lg-block" style="color: #820AD1;"></i>
                            <span>Nubank</span>
                        </div>
                        <div class="categoria">Alimentação / Lanche</div>
                        <div class="descricao">Mc Donald's</div>
                        <div class="valor"><span class="fw-bold din-despesa">- R$ 49,50</span></div>
                        <div class="opcoes">
                            <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                        </div>
                    </div>
                </div>
                -->

            </div>

        </section>

        @await Html.PartialAsync("_BotaoLancamentoMobile")

        <LancamentoWizard ref="lancWizard" v-on:lancamento-realizado="pesquisar()"></LancamentoWizard>
        <TransferenciaWizard ref="tranWizard" v-on:transferencia-realizada="pesquisar()"></TransferenciaWizard>

    </script>
}

@using (Html.VueScript())
{
    <script type="text/javascript">

        const LancamentoListagem = {

            name: 'LancamentoListagem',
            template: '#template-lancamento-listagem',
            mixins: [BaseMixin],
            components: { Moeda, Pagination, LancamentoListagemFiltro, LancamentoWizard, TransferenciaWizard },

            data: () => ({
                filtro: {},
                totalResults: 0,
                balanco: {},
                lista: []
            }),

            //async mounted() {
            //    await this.pesquisar();
            //},

            methods: {

                async pesquisar(filter) {

                    //atualiza filtro se informado
                    if (filter)
                        this.filtro = filter;

                    //reseta paginacao
                    this.filtro.currentPage = 1;
                    await this.carregar();
                },

                async paginar(paginacao) {

                    this.filtro.currentPage = paginacao.currentPage;
                    this.filtro.resultsPerPage = paginacao.resultsPerPage;
                    await this.carregar();
                },

                async carregar() {
                    await this.obterListagem();
                    await this.obterBalanco();
                },

                async obterListagem() {

                    await this.showLoadingSplashAndExecute(async () => {

                        ////ajustes
                        //if (this.filtro.ativo == false)
                        //    this.filtro.ativo = null;

                        let ret = await fetchData.fetchPostJson(`/lancamento/pesquisar`, this.filtro);

                        if (ret.ok) {
                            this.totalResults = ret.value.total;
                            this.lista = ret.value.dataPage;
                        }
                        else {
                            mensagemSistema.showMensagemErro(ret.message);
                        }
                    });
                },

                async obterBalanco() {

                    await this.setLoadingAndExecute(async () => {

                        let ret = await fetchData.fetchPostJson(`/lancamento/balanco`, this.filtro);

                        if (ret.ok) {
                            this.balanco = ret.value;
                        }
                        else {
                            mensagemSistema.showMensagemErro(ret.message);
                        }
                    });
                },


                novaDespesa() {
                    this.$refs.lancWizard.initDespesa();
                },

                novaReceita() {
                    this.$refs.lancWizard.initReceita();
                },

                novaTransferencia() {
                    this.$refs.tranWizard.initTransferencia();
                },

                novoPagamentoFatura() {
                    this.$refs.tranWizard.initPagamentoFatura();
                }

            }
        }

    </script>
}

@using (Html.VueStyle())
{
    <style type="text/css">

        .balanco-container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
            align-items: end;
        }

            .balanco-container .valor-rec {
                font-weight: bold;
                font-size: 1.25rem;
                line-height: 1.25rem;
            }

            .balanco-container .valor-desp {
                font-weight: bold;
                font-size: 1.25rem;
                line-height: 1.25rem;
            }

            .balanco-container .valor-saldo {
                font-weight: bold;
                font-size: 1.5rem;
                line-height: 1;
            }

        @@media (max-width: 991px) { /*lg*/

            .balanco-container {
                justify-content: space-between;
                margin-bottom: 0.5rem;
            }

                .balanco-container .valor-rec {
                    font-size: 1rem;
                    line-height: 1rem;
                }

                .balanco-container .valor-desp {
                    font-size: 1rem;
                    line-height: 1rem;
                }

                .balanco-container .valor-saldo {
                    font-size: 1rem;
                    line-height: 1rem;
                }
        }



        .lancamento-container {
            display: grid;
            grid-template-columns: 7rem 15rem 18rem auto 8rem 4rem;
            grid-template-areas:
                "ga-data ga-conta ga-categoria ga-descricao ga-valor ga-opcoes";
            align-items: center;
        }

            .lancamento-container .data {
                grid-area: ga-data;
            }

            .lancamento-container .conta {
                grid-area: ga-conta;
                display: flex;
                align-items: center;
            }

            .lancamento-container .categoria {
                grid-area: ga-categoria;
            }

            .lancamento-container .descricao {
                grid-area: ga-descricao;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .lancamento-container .valor {
                grid-area: ga-valor;
                text-align: right;
                font-weight: bold;
            }

            .lancamento-container .opcoes {
                grid-area: ga-opcoes;
                text-align: end;
            }

        @@media (max-width: 991px) { /*lg*/

            .lancamento-container {
                grid-template-columns: 3rem auto 8rem;
                grid-template-areas:
                    "ga-data ga-descricao ga-valor"
                    "ga-data ga-categoria ga-conta"
            }

                .lancamento-container .data .data-mob {
                    display: flex;
                    flex-direction: column;
                    color: var(--sys-color-dark-1);
                    align-items: center;
                    margin: 0.1rem 0.5rem 0.1rem 0;
                }

                    .lancamento-container .data .data-mob .dia {
                        font-size: 1.5rem;
                        font-weight: bold;
                        line-height: 1.6rem;
                    }

                    .lancamento-container .data .data-mob .mes {
                        font-size: 0.65rem;
                        font-weight: 600;
                        line-height: 0.75rem;
                    }

                .lancamento-container .descricao {
                    font-weight: 600;
                    font-size: 0.95rem;
                }

                .lancamento-container .categoria {
                    font-size: 0.75rem;
                    font-style: italic;
                }

                .lancamento-container .valor {
                    font-weight: 600;
                    font-size: 0.95rem;
                }

                .lancamento-container .conta {
                    justify-content: end;
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: var(--sys-color-dark-1);
                }

                .lancamento-container .opcoes {
                    display: none;
                }
        }

        .barra-filtro-periodo {
            display: none;
        }

        @@media (max-width: 991px) { /*lg*/

            .barra-filtro-periodo {
                padding: 0.75rem 2rem;
                background-color: var(--sys-color-dark-4);
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.35rem;
                font-weight: 500;
                color: #fff;
                height: 3.25rem;
            }

                .barra-filtro-periodo i {
                    font-size: 1.5rem;
                }
        }

        .lancamento-rolagem {
            padding-top: 1rem;
            padding-bottom: 2rem;
        }

        @@media (max-width: 991px) { /*lg*/
            .lancamento-rolagem {
                padding-top: unset;
            }
        }

    </style>
}