@using (Html.VueTemplate())
{
    <script type="text/html" id="template-lancamento-table">

        <div class="list-group-item d-none d-lg-block">
            <div class="lancamento-container">
                <div class="data"><span class="fw-bold">Data</span></div>
                <div class="conta"><span class="fw-bold">Conta / Cartão</span></div>
                <div class="categoria"><span class="fw-bold">Categoria / Subcategoria</span></div>
                <div class="descricao"><span class="fw-bold">Descrição</span></div>
                <div class="valor"><span>Valor</span></div>
                <div class="opcoes"></div>
            </div>
        </div>

        <template v-if="totalResults > 0">
            <div v-for="l in lista" class="list-group-item sys-clicavel" v-bind:class="{'lancamento-futuro' : isDataFutura(l.data)}" v-on:click="editarLancamento(l)">
                <div class="lancamento-container">
                    <div class="data">
                        <div class="d-none d-lg-block">{{utils.dataCurta(l.data)}}</div>
                        <div class="d-lg-none data-mob">
                            <div class="dia">{{utils.dataDia(l.data)}}</div>
                            <div class="mes">{{utils.dataMesShort(l.data)}}</div>
                        </div>
                    </div>
                    <div class="conta">
                        <i class="fa-solid fa-xl me-2 d-none d-lg-block" v-bind:class="utils.cssIconeByTipoConta(l.meioPagamentoTipo)" v-bind:style="{ 'color': '#' + l.meioPagamentoCor}"></i>
                        <div>{{l.meioPagamentoNome}}</div>
                        <div v-if="l.faturaMes" class="fatura-hint">{{utils.mesAbreviado(l.faturaMes)}} {{l.faturaAno - 2000}}</div>
                    </div>
                    <div class="categoria"><span>{{l.categoria}}</span><span v-if="l.subcategoria"> / {{l.subcategoria}}</span></div>
                    <div class="descricao">
                        <span v-if="l.parcelaAtual" class="parcela-hint" v-bind:class="{'ultima' : l.parcelaAtual == l.parcelaTotal}">{{l.parcelaAtual}}/{{l.parcelaTotal}}</span>
                        <span>{{l.descricao}}</span>
                    </div>
                    <div class="valor"><Moeda :valor="l.valor"></Moeda></div>
                    <div class="opcoes">
                        <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                    </div>
                </div>
            </div>
        </template>
        <div v-else class="list-group-item d-flex justify-content-center py-3">
            Nenhum lançamento realizado
        </div>

    </script>
}

@using (Html.VueScript())
{
    <script type="text/javascript">

        const LancamentoTable = {

            name: 'LancamentoTable',
            template: '#template-lancamento-table',
            mixins: [BaseMixin],
            components: { Moeda },
            emits: ['editar-lancamento'],

            props: {
                lista: Array,
                totalResults: Number
            },

            methods: {

                editarLancamento(l) {
                    this.$emit('editar-lancamento', l);
                },

                isDataFutura(s) {

                    let today = new Date();
                    today.setHours(0, 0, 0, 0);

                    let d = new Date(s);

                    return d > today;
                }
            }
        }

    </script>
}

@using (Html.VueStyle())
{
    <style type="text/css">

        .lancamento-container {
            display: grid;
            grid-template-columns: 6.5rem 13rem 16rem auto 8rem 4rem;
            grid-template-areas:
                "ga-data ga-conta ga-categoria ga-descricao ga-valor ga-opcoes";
            align-items: center;
        }

            .lancamento-container .data {
                grid-area: ga-data;
            }

            .lancamento-container .conta {
                grid-area: ga-conta;
                display: flex;
                align-items: baseline;
            }

            .lancamento-container .categoria {
                grid-area: ga-categoria;
            }

            .lancamento-container .descricao {
                grid-area: ga-descricao;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .lancamento-container .valor {
                grid-area: ga-valor;
                text-align: right;
                font-weight: bold;
            }

            .lancamento-container .opcoes {
                grid-area: ga-opcoes;
                text-align: end;
            }

        @@media (max-width: 991px) { /*lg*/

            .lancamento-container {
                grid-template-columns: 2.5rem auto 7rem;
                grid-template-areas:
                    "ga-data ga-descricao ga-valor"
                    "ga-data ga-categoria ga-conta"
            }

                .lancamento-container .data .data-mob {
                    display: flex;
                    flex-direction: column;
                    color: var(--sys-color-dark-1);
                    align-items: center;
                    margin: 0.1rem 0.5rem 0.1rem 0;
                }

                    .lancamento-container .data .data-mob .dia {
                        font-size: 1.5rem;
                        font-weight: bold;
                        line-height: 1.6rem;
                    }

                    .lancamento-container .data .data-mob .mes {
                        font-size: 0.65rem;
                        font-weight: 600;
                        line-height: 0.75rem;
                    }

                .lancamento-container .descricao {
                    font-weight: 600;
                    font-size: 0.95rem;
                }

                .lancamento-container .categoria {
                    font-size: 0.75rem;
                    font-style: italic;
                }

                .lancamento-container .valor {
                    font-weight: 600;
                    font-size: 0.95rem;
                }

                .lancamento-container .conta {
                    flex-direction: row-reverse;
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: var(--sys-color-dark-1);
                }

                .lancamento-container .opcoes {
                    display: none;
                }
        }


        .lancamento-futuro {
            background-color: var(--lanc-futuro-bg);
        }

            .lancamento-futuro:hover {
                background-color: var(--lanc-futuro-bg-hover);
            }

            .lancamento-futuro .descricao {
                color: var(--lanc-futuro-fg);
            }


        .parcela-hint {
            margin-right: 0.25rem;
            padding: 0 0.25rem;
            font-size: 1em;
            font-weight: 500;
            letter-spacing: 1px;
            color: #424242; /* MDC GREY 800 */
            background-color: #fff9c4; /* MDC YELLOW 100 */
            border: 1px solid #fbc02d; /* MDC YELLOW 700 */
            border-radius: 5px;
        }

            .parcela-hint.ultima {
                background-color: #c8e6c9; /* MDC GREEN 100 */
                border: 1px solid #81c784; /* MDC GREEN 300 */
            }

        .fatura-hint {
            margin: 0 0.25rem;
            padding: 0 0.25rem;
            font-size: 0.65em;
            font-weight: 700;
            line-height: 0.9rem;
            background-color: var(--sys-color-light-4);
        }

        @@media (max-width: 991px) { /*lg*/

            .fatura-hint {                
                font-size: 0.75em;
            }
        }

    </style>
}