<partial name="_LancamentoModal"></partial>
<partial name="_TransferenciaModal"></partial>

<section class="container-xxl container-titulo">
    <div class="area-titulo">
        <partial name="_BotaoVoltar"></partial>
        <div class="titulo">Lançamentos</div>
    </div>
    <div class="area-opcoes">

        <div class="input-group d-none d-lg-block btn-lancamento-lg">
            <button class="btn btn-primary btn-lg px-4 dropdown-toggle" data-bs-toggle="dropdown">
                <span class="sys-fg-dark-3 fw-bold me-2">Novo Lançamento</span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <div class="icone">
                        <i class="fa-solid fa-lg fa-file-invoice-dollar fg-lanc-despesa"></i>
                    </div>
                    <div class="texto">Despesa</div>
                </li>
                <li class="dropdown-item">
                    <div class="icone">
                        <i class="fa-solid fa-lg fa-hand-holding-dollar fg-lanc-receita"></i>
                    </div>
                    <div class="texto">Receita</div>
                </li>
                <li class="dropdown-item">
                    <div class="icone">
                        <i class="fa-solid fa-lg fa-money-bill-transfer fg-lanc-transferencia"></i>
                    </div>
                    <div class="texto">Transferência</div>
                </li>
                <li class="dropdown-item">
                    <div class="icone">
                        <i class="fa-regular fa-lg fa-credit-card fg-lanc-pag-fatura"></i>
                    </div>
                    <div class="texto">Pagamento de Fatura</div>
                </li>
            </ul>
        </div>

        <div class="d-lg-none me-2" data-bs-toggle="offcanvas" data-bs-target="#offcanvasFiltro">
            <i class="fa-solid fa-filter fa-lg text-white"></i>
        </div>

    </div>
</section>

<!-- filtro mobile -->
<div class="barra-filtro-periodo">
    <i aria-hidden="true" class="fa-solid fa-chevron-left"></i>
    <span>Janeiro 2023</span>
    <i aria-hidden="true" class="fa-solid fa-chevron-right"></i>
</div>


<div class="offcanvas-lg offcanvas-end" tabindex="-1" id="offcanvasFiltro">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">Opções de Filtro</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#offcanvasFiltro" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">

        <div class="container-xxl">
            <div class="row g-1">

                <div class="col col-12 col-lg-4">
                    <label class="form-label lh-1">Descrição</label>
                    <input class="form-control form-control-sm" maxlength="40" placeholder="Procure lançamentos pela descrição">
                </div>

                <div class="col col-12 col-lg-3">
                    <label class="form-label lh-1">Período</label>
                    <div class="d-flex align-items-center">
                        <input class="form-control form-control-sm" type="date" value="2023-01-01">
                        <span class="mx-2">a</span>
                        <input class="form-control form-control-sm" type="date" value="2023-01-31">
                    </div>
                </div>

                <div class="col col-12 col-lg-2">
                    <label class="form-label lh-1">Conta / Cartão</label>
                    <select class="form-select form-select-sm">
                        <option></option>
                        <optgroup label="Contas">
                            <option value="2">Caixa</option>
                            <option value="3">PicPay</option>
                        </optgroup>
                        <optgroup label="Cartões">
                            <option value="1">Nubank</option>
                        </optgroup>
                    </select>
                </div>
                <div class="col col-12 col-lg-3">
                    <label class="form-label lh-1">Categoria / Subcategoria</label>
                    <select class="form-select form-select-sm">
                        <option></option>
                        <optgroup label="Receitas">
                            <option value="1">Salário</option>
                            <option value="2">Empréstimo</option>
                            <option value="3">Investimentos</option>
                        </optgroup>
                        <optgroup label="Despesas">
                            <option value="1">Alimentação</option>
                            <option value="11">Alimentação / Supermercado</option>
                            <option value="2">Moradia</option>
                            <option value="3">Poupança</option>
                        </optgroup>
                    </select>
                </div>

                <div class="col col-12 col-lg-4 d-flex align-items-center mt-3 mt-lg-0">
                    <label class="form-label me-2">Filtrar por:</label>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1" checked>
                        <label class="form-check-label" for="inlineCheckbox1"><small>Despesas</small></label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2" checked>
                        <label class="form-check-label" for="inlineCheckbox2"><small>Receitas</small></label>
                    </div>
                </div>
                <div class="col col-12 col-lg-4 d-flex align-items-center mt-3 mt-lg-0">
                    <div class="form-check form-switch">
                        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                        <label class="form-check-label" for="flexSwitchCheckDefault"><small>Somar Transferências e Pag. Faturas</small></label>
                    </div>
                </div>
                <div class="col col-12 col-lg-4 d-flex align-items-end justify-content-end mt-2">
                    <button class="btn btn-sm btn-outline-secondary me-2" type="button">
                        <span>Limpar Filtro</span>
                    </button>
                    <button class="btn btn-sm btn-outline-primary" type="button">
                        <i class="fa-solid fa-magnifying-glass me-1"></i>
                        <span>Pesquisar</span>
                    </button>
                </div>

                <div class="col col-12 d-none d-lg-flex flex-wrap align-items-center mt-2">
                    <label class="me-2 fw-bold">Filtros rápidos:</label>
                    <div class="filtro-rapido-opcao">DEZ 22</div>
                    <div class="filtro-rapido-opcao">JAN 23</div>
                    <div class="filtro-rapido-opcao">FEV 23</div>
                    <div class="filtro-rapido-opcao">30 dias</div>
                    <div class="filtro-rapido-opcao">Semana</div>
                    <div class="filtro-rapido-opcao">Hoje</div>
                    <div class="filtro-rapido-opcao">Tudo</div>
                </div>

            </div>
        </div>


    </div>
</div>


<section class="container-xxl lancamento-rolagem">

    <div class="card">
        <div class="card-body p-2">
            <div class="row g-0">

                <div class="col col-7 d-none d-lg-block ps-2">
                    <label class="form-label">Período</label>
                    <div class="lh-1 fw-bold fs-5">Dom, 1 Jan 2023 - Ter, 31 Jan 2023</div>
                </div>

                <div class="col col-12 col-lg-5">

                    <div class="balanco-container">

                        <div class="text-center">
                            <label class="form-label">Receitas</label>
                            <div class="lh-1 valor-rec din-receita">+ R$ 3.588,12</div>
                        </div>
                        <div class="text-center">
                            <label class="form-label">Despesas</label>
                            <div class="lh-1 valor-desp din-despesa">- R$ 820,61</div>
                        </div>
                        <div class="text-center">
                            <label class="form-label">Saldo</label>
                            <div class="lh-1 valor-saldo din-receita">+ R$ 2.767,51</div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="list-group mt-2 mb-5">

        <div class="list-group-item d-none d-lg-block">
            <div class="lancamento-container">
                <div class="data"><span class="fw-bold">Data</span></div>
                <div class="conta"><span class="fw-bold">Conta / Cartão</span></div>
                <div class="categoria"><span class="fw-bold">Categoria / Subcategoria</span></div>
                <div class="descricao"><span class="fw-bold">Descrição</span></div>
                <div class="valor"><span class="fw-bold">Valor</span></div>
                <div class="opcoes"></div>
            </div>
        </div>

        <div class="list-group-item sys-clicavel">
            <div class="lancamento-container">
                <div class="data">
                    <div class="d-none d-lg-block">27/01/2023</div>
                    <div class="d-lg-none data-mob">
                        <div class="dia">27</div>
                        <div class="mes">JAN</div>
                    </div>
                </div>
                <div class="conta">
                    <i class="fa-solid fa-xl fa-money-check-dollar me-2 d-none d-lg-block" style="color: #0369B9;"></i>
                    <span>Caixa</span>
                </div>
                <div class="categoria">Alimentação / Almoço</div>
                <div class="descricao">Marmita Praia</div>
                <div class="valor"><span class="fw-bold din-despesa">- R$ 318,00</span></div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar" data-bs-toggle="modal" data-bs-target="#lancamentoModal"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
            </div>
        </div>

        <div class="list-group-item sys-clicavel">
            <div class="lancamento-container">
                <div class="data">
                    <div class="d-none d-lg-block">27/01/2023</div>
                    <div class="d-lg-none data-mob">
                        <div class="dia">27</div>
                        <div class="mes">JAN</div>
                    </div>
                </div>
                <div class="conta">
                    <i class="fa-solid fa-xl fa-credit-card me-2 d-none d-lg-block" style="color: #820AD1;"></i>
                    <span>Nubank</span>
                </div>
                <div class="categoria">Alimentação / Lanche</div>
                <div class="descricao">Mc Donald's</div>
                <div class="valor"><span class="fw-bold din-despesa">- R$ 49,50</span></div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar" data-bs-toggle="modal" data-bs-target="#transferenciaModal"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
            </div>
        </div>

        <div class="list-group-item sys-clicavel">
            <div class="lancamento-container">
                <div class="data">
                    <div class="d-none d-lg-block">26/01/2023</div>
                    <div class="d-lg-none data-mob">
                        <div class="dia">26</div>
                        <div class="mes">JAN</div>
                    </div>
                </div>
                <div class="conta">
                    <i class="fa-solid fa-xl fa-money-check-dollar me-2 d-none d-lg-block" style="color: #11C56E;"></i>
                    <span>PicPay</span>
                </div>
                <div class="categoria">Repasse</div>
                <div class="descricao">Reembolso Jurandir</div>
                <div class="valor"><span class="fw-bold din-receita">R$ 275,00</span></div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
            </div>
        </div>

        <div class="list-group-item sys-clicavel">
            <div class="lancamento-container">
                <div class="data">
                    <div class="d-none d-lg-block">25/01/2023</div>
                    <div class="d-lg-none data-mob">
                        <div class="dia">25</div>
                        <div class="mes">JAN</div>
                    </div>
                </div>
                <div class="conta">
                    <i class="fa-solid fa-xl fa-money-check-dollar me-2 d-none d-lg-block" style="color: #FCF800;"></i>
                    <span>Banco do Brasil</span>
                </div>
                <div class="categoria">Assinaturas</div>
                <div class="descricao">Recarga Celular</div>
                <div class="valor"><span class="fw-bold din-despesa">- R$ 50,00</span></div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
            </div>
        </div>

    </div>

</section>



<div class="barra-bottom d-lg-none">
    <div class="d-grid gap-2 col-10 mx-auto">
        <button class="btn btn-primary btn-lg" type="button" data-bs-toggle="offcanvas" href="#offcanvasLancOpt">
            <i class="fa-solid fa-plus fa-lg sys-fg-dark-3 me-1"></i>
            <span class="sys-fg-dark-3 fw-bold">Lançar</span>
        </button>
    </div>
</div>

<div class="offcanvas offcanvas-bottom" tabindex="-1" id="offcanvasLancOpt" aria-labelledby="offcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Novo Lançamento</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body p-0 d-flex flex-wrap">
        <div class="opcao-lancamento fg-lanc-despesa bg-lanc-despesa">
            <i class="fa-solid fa-file-invoice-dollar fg-lanc-despesa"></i>
            <span>Despesa</span>
        </div>
        <div class="opcao-lancamento fg-lanc-receita bg-lanc-receita">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <span>Receita</span>
        </div>
        <div class="opcao-lancamento fg-lanc-transferencia bg-lanc-transferencia">
            <i class="fa-solid fa-money-bill-transfer"></i>
            <span>Transferência</span>
        </div>
        <div class="opcao-lancamento fg-lanc-pag-fatura bg-lanc-pag-fatura">
            <i class="fa-regular fa-credit-card"></i>
            <span>Pagamento de Fatura</span>
        </div>
    </div>
</div>


@using (Html.VueStyle())
{
    <style type="text/css">

        .btn-lancamento-lg {
        }

            .btn-lancamento-lg .btn {
                width: 16rem;
            }

                .btn-lancamento-lg .btn.dropdown-toggle::after {
                    color: var(--sys-color-dark-3);
                }

            .btn-lancamento-lg .dropdown-menu {
                width: 16rem;
                border-radius: 0;
            }

                .btn-lancamento-lg .dropdown-menu .dropdown-item {
                    display: flex;
                    align-items: center;
                    height: 3rem;
                    cursor: pointer;
                }

                    .btn-lancamento-lg .dropdown-menu .dropdown-item:active {
                        color: unset;
                        background-color: var(--bs-dropdown-link-hover-bg);
                    }

                    .btn-lancamento-lg .dropdown-menu .dropdown-item .icone {
                        width: 3.5rem;
                        text-align: center;
                        margin-left: -0.75rem;
                    }

                        .btn-lancamento-lg .dropdown-menu .dropdown-item .icone i {
                            font-size: 1.6rem;
                        }

                    .btn-lancamento-lg .dropdown-menu .dropdown-item .texto {
                        font-size: 1.15rem;
                        font-weight: 500;
                    }



        .filtro-rapido-opcao {
            margin: 0 0.25rem;
            padding: 0.25rem;
            min-width: 6rem;
            border: 1px solid var(--sys-color-dark-4);
            border-radius: 5px;
            color: var(--sys-color-dark-4);
            background-color: white;
            font-weight: bold;
            text-align: center;
            cursor: pointer;
        }


        .balanco-container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }

            .balanco-container .valor-rec {
                font-weight: bold;
                font-size: 1.25rem;
            }

            .balanco-container .valor-desp {
                font-weight: bold;
                font-size: 1.25rem;
            }

            .balanco-container .valor-saldo {
                font-weight: bold;
                font-size: 1.5rem;
            }

        @@media (max-width: 991px) { /*lg*/

            .balanco-container {
                justify-content: space-between;
            }

                .balanco-container .valor-rec {
                    font-size: 1rem;
                }

                .balanco-container .valor-desp {
                    font-size: 1rem;
                }

                .balanco-container .valor-saldo {
                    font-size: 1rem;
                }
        }



        .lancamento-container {
            display: grid;
            grid-template-columns: 7rem 15rem 18rem auto 8rem 4rem;
            grid-template-areas:
                "ga-data ga-conta ga-categoria ga-descricao ga-valor ga-opcoes";
            align-items: center;
        }

            .lancamento-container .data {
                grid-area: ga-data;
            }

            .lancamento-container .conta {
                grid-area: ga-conta;
                display: flex;
                align-items: center;
            }

            .lancamento-container .categoria {
                grid-area: ga-categoria;
            }

            .lancamento-container .descricao {
                grid-area: ga-descricao;
            }

            .lancamento-container .valor {
                grid-area: ga-valor;
                text-align: right;
            }

            .lancamento-container .opcoes {
                grid-area: ga-opcoes;
                text-align: end;
            }

        @@media (max-width: 991px) { /*lg*/

            .lancamento-container {
                grid-template-columns: 3rem auto 8rem;
                grid-template-areas:
                    "ga-data ga-descricao ga-valor"
                    "ga-data ga-categoria ga-conta"
            }

                .lancamento-container .data .data-mob {
                    display: flex;
                    flex-direction: column;
                    color: var(--sys-color-dark-1);
                    align-items: center;
                    margin: 0.1rem 0.5rem 0.1rem 0;
                }

                    .lancamento-container .data .data-mob .dia {
                        font-size: 1.5rem;
                        font-weight: bold;
                        line-height: 1.6rem;
                    }

                    .lancamento-container .data .data-mob .mes {
                        font-size: 0.65rem;
                        font-weight: bold;
                        line-height: 0.75rem;
                    }

                .lancamento-container .descricao {
                    font-weight: bold;
                }

                .lancamento-container .categoria {
                    font-size: 0.75rem;
                    font-style: italic;
                }

                .lancamento-container .valor {
                }

                .lancamento-container .conta {
                    justify-content: end;
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: var(--sys-color-dark-1);
                }

                .lancamento-container .opcoes {
                    display: none;
                }
        }

        .barra-filtro-periodo {
            display: none;
        }

        @@media (max-width: 991px) { /*lg*/

            .barra-filtro-periodo {
                padding: 0.75rem 2rem;
                background-color: var(--sys-color-dark-4);
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.35rem;
                font-weight: 500;
                color: #fff;
                height: 3.25rem;
            }

                .barra-filtro-periodo i {
                    font-size: 1.5rem;
                }
        }

        .lancamento-rolagem {
            padding-top: 1rem;
            padding-bottom: 2rem;
        }

        @@media (max-width: 991px) { /*lg*/
            .lancamento-rolagem {
                padding-top: unset;
            }
        }


        .barra-bottom {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 0.75rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-top: 1px solid #ccc;
        }

        .offcanvas-bottom {
            height: 16rem !important;
        }

            .offcanvas-bottom .opcao-lancamento {
                display: flex;
                flex-wrap: wrap;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 50vw;
                cursor: pointer;
            }

                .offcanvas-bottom .opcao-lancamento i {
                    font-size: 2.5rem;
                    margin-top: 0.5rem;
                }

                .offcanvas-bottom .opcao-lancamento span {
                    font-size: 1rem;
                    font-weight: 500;
                }

    </style>
}