<section class="container-xxl container-titulo">
    <div class="area-titulo">
        <partial name="_BotaoVoltar"></partial>
        <div class="titulo">Lançamentos</div>
    </div>
    <div class="area-opcoes">

        <div class="input-group btn-lancamento-lg">
            <button class="btn btn-primary btn-lg px-4 dropdown-toggle" data-bs-toggle="dropdown">
                <span class="sys-fg-dark-3 fw-bold me-2">Novo Lançamento</span>
            </button>
            <ul class="dropdown-menu">
                <li class="dropdown-item">
                    <div class="icone">
                        <i class="fa-solid fa-lg fa-file-invoice-dollar fg-lanc-despesa"></i>
                    </div>
                    <div class="texto">Despesa</div>
                </li>
                <li class="dropdown-item">
                    <div class="icone">
                        <i class="fa-solid fa-lg fa-hand-holding-dollar fg-lanc-receita"></i>
                    </div>
                    <div class="texto">Receita</div>
                </li>
                <li class="dropdown-item">
                    <div class="icone">
                        <i class="fa-solid fa-lg fa-money-bill-transfer fg-lanc-transferencia"></i>
                    </div>
                    <div class="texto">Transferência</div>
                </li>
                <li class="dropdown-item">
                    <div class="icone">
                        <i class="fa-regular fa-lg fa-credit-card fg-lanc-pag-fatura"></i>
                    </div>
                    <div class="texto">Pagamento de Fatura</div>
                </li>
            </ul>
        </div>

    </div>
</section>

<div class="barra-filtro-periodo">
    <i aria-hidden="true" class="fa-solid fa-chevron-left"></i>
    <span>Janeiro 2023</span>
    <i aria-hidden="true" class="fa-solid fa-chevron-right"></i>
</div>

<section class="container-xxl lancamento-rolagem">

    <div class="card">
        <div class="card-body p-2">
            <div class="row g-0">

                <div class="col col-7 d-none d-lg-block ps-2">
                    <label class="form-label">Período</label>
                    <div class="lh-1 fw-bold fs-5">Dom, 1 Jan 2023 - Ter, 31 Jan 2023</div>
                </div>

                <div class="col col-12 col-lg-5">

                    <div class="balanco-container">

                        <div class="text-center">
                            <label class="form-label">Receitas</label>
                            <div class="lh-1 valor-rec din-receita">+ R$ 3.588,12</div>
                        </div>
                        <div class="text-center">
                            <label class="form-label">Despesas</label>
                            <div class="lh-1 valor-desp din-despesa">- R$ 820,61</div>
                        </div>
                        <div class="text-center">
                            <label class="form-label">Saldo</label>
                            <div class="lh-1 valor-saldo din-receita">+ R$ 2.767,51</div>
                        </div>

                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="list-group mt-2 mb-5">

        <div class="list-group-item d-none d-lg-block">
            <div class="lancamento-container">
                <div class="data"><span class="fw-bold">Data</span></div>
                <div class="conta"><span class="fw-bold">Conta / Cartão</span></div>
                <div class="categoria"><span class="fw-bold">Categoria / Subcategoria</span></div>
                <div class="descricao"><span class="fw-bold">Descrição</span></div>
                <div class="valor"><span class="fw-bold">Valor</span></div>
                <div class="opcoes"></div>
            </div>
        </div>

        <div class="list-group-item sys-clicavel">
            <div class="lancamento-container">
                <div class="data">
                    <div class="d-none d-lg-block">27/01/2023</div>
                    <div class="d-lg-none data-mob">
                        <div class="dia">27</div>
                        <div class="mes">JAN</div>
                    </div>
                </div>
                <div class="conta">
                    <i class="fa-solid fa-xl fa-money-check-dollar me-2 d-none d-lg-block" style="color: #0369B9;"></i>
                    <span>Caixa</span>
                </div>
                <div class="categoria">Alimentação / Almoço</div>
                <div class="descricao">Marmita Praia</div>
                <div class="valor"><span class="fw-bold din-despesa">- R$ 318,00</span></div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
            </div>
        </div>

        <div class="list-group-item sys-clicavel">
            <div class="lancamento-container">
                <div class="data">
                    <div class="d-none d-lg-block">27/01/2023</div>
                    <div class="d-lg-none data-mob">
                        <div class="dia">27</div>
                        <div class="mes">JAN</div>
                    </div>
                </div>
                <div class="conta">
                    <i class="fa-solid fa-xl fa-credit-card me-2 d-none d-lg-block" style="color: #820AD1;"></i>
                    <span>Nubank</span>
                </div>
                <div class="categoria">Alimentação / Lanche</div>
                <div class="descricao">Mc Donald's</div>
                <div class="valor"><span class="fw-bold din-despesa">- R$ 49,50</span></div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
            </div>
        </div>

        <div class="list-group-item sys-clicavel">
            <div class="lancamento-container">
                <div class="data">
                    <div class="d-none d-lg-block">26/01/2023</div>
                    <div class="d-lg-none data-mob">
                        <div class="dia">26</div>
                        <div class="mes">JAN</div>
                    </div>
                </div>
                <div class="conta">
                    <i class="fa-solid fa-xl fa-money-check-dollar me-2 d-none d-lg-block" style="color: #11C56E;"></i>
                    <span>PicPay</span>
                </div>
                <div class="categoria">Repasse</div>
                <div class="descricao">Reembolso Jurandir</div>
                <div class="valor"><span class="fw-bold din-receita">R$ 275,00</span></div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
            </div>
        </div>

        <div class="list-group-item sys-clicavel">
            <div class="lancamento-container">
                <div class="data">
                    <div class="d-none d-lg-block">25/01/2023</div>
                    <div class="d-lg-none data-mob">
                        <div class="dia">25</div>
                        <div class="mes">JAN</div>
                    </div>
                </div>
                <div class="conta">
                    <i class="fa-solid fa-xl fa-money-check-dollar me-2 d-none d-lg-block" style="color: #FCF800;"></i>
                    <span>Banco do Brasil</span>
                </div>
                <div class="categoria">Assinaturas</div>
                <div class="descricao">Recarga Celular</div>
                <div class="valor"><span class="fw-bold din-despesa">- R$ 50,00</span></div>
                <div class="opcoes">
                    <button type="button" class="btn sys-icon-button" title="Editar"><i aria-hidden="true" class="fa-solid fa-pen sys-fg-dark-2"></i></button>
                </div>
            </div>
        </div>

    </div>

</section>



<div class="barra-bottom d-lg-none">
    <div class="d-grid gap-2 col-9 mx-auto">
        <button class="btn btn-primary btn-lg" type="button">
            <i class="fa-solid fa-plus fa-lg sys-fg-dark-3 me-1"></i>
            <span class="sys-fg-dark-3 fw-bold">Lançar</span>
        </button>
    </div>
</div>


@using (Html.VueStyle())
{
    <style type="text/css">

        .btn-lancamento-lg {
        }

            .btn-lancamento-lg .btn {
                width: 16rem;
            }

                .btn-lancamento-lg .btn.dropdown-toggle::after {
                    color: var(--sys-color-dark-3);
                }

            .btn-lancamento-lg .dropdown-menu {
                width: 16rem;
                border-radius: 0;
            }

                .btn-lancamento-lg .dropdown-menu .dropdown-item {
                    display: flex;
                    align-items: center;
                    height: 3rem;
                    cursor: pointer;
                }

                    .btn-lancamento-lg .dropdown-menu .dropdown-item:active {
                        color: unset;
                        background-color: var(--bs-dropdown-link-hover-bg);
                    }

                    .btn-lancamento-lg .dropdown-menu .dropdown-item .icone {
                        width: 3.5rem;
                        text-align: center;
                        margin-left: -0.75rem;
                    }

                        .btn-lancamento-lg .dropdown-menu .dropdown-item .icone i {
                            font-size: 1.6rem;
                        }

                    .btn-lancamento-lg .dropdown-menu .dropdown-item .texto {
                        font-size: 1.15rem;
                        font-weight: 500;
                    }



        @@media (max-width: 991px) { /*lg*/

            .btn-lancamento-lg {
                display: none;
            }
        }


        .balanco-container {
            display: flex;
            flex-wrap: nowrap;
            justify-content: space-evenly;
        }

            .balanco-container .valor-rec {
                font-weight: bold;
                font-size: 1.25rem;
            }

            .balanco-container .valor-desp {
                font-weight: bold;
                font-size: 1.25rem;
            }

            .balanco-container .valor-saldo {
                font-weight: bold;
                font-size: 1.5rem;
            }

        @@media (max-width: 991px) { /*lg*/

            .balanco-container {
                justify-content: space-between;
            }

                .balanco-container .valor-rec {
                    font-size: 1rem;
                }

                .balanco-container .valor-desp {
                    font-size: 1rem;
                }

                .balanco-container .valor-saldo {
                    font-size: 1rem;
                }
        }



        .lancamento-container {
            display: grid;
            grid-template-columns: 7rem 15rem 18rem auto 8rem 4rem;
            grid-template-areas:
                "ga-data ga-conta ga-categoria ga-descricao ga-valor ga-opcoes";
            align-items: center;
        }

            .lancamento-container .data {
                grid-area: ga-data;
            }

            .lancamento-container .conta {
                grid-area: ga-conta;
                display: flex;
                align-items: center;
            }

            .lancamento-container .categoria {
                grid-area: ga-categoria;
            }

            .lancamento-container .descricao {
                grid-area: ga-descricao;
            }

            .lancamento-container .valor {
                grid-area: ga-valor;
                text-align: right;
            }

            .lancamento-container .opcoes {
                grid-area: ga-opcoes;
                text-align: end;
            }

        @@media (max-width: 991px) { /*lg*/

            .lancamento-container {
                grid-template-columns: 3rem auto 8rem;
                grid-template-areas:
                    "ga-data ga-descricao ga-valor"
                    "ga-data ga-categoria ga-conta"
            }

                .lancamento-container .data .data-mob {
                    display: flex;
                    flex-direction: column;
                    color: var(--sys-color-dark-1);
                    align-items: center;
                    margin: 0.1rem 0.5rem 0.1rem 0;
                }

                    .lancamento-container .data .data-mob .dia {
                        font-size: 1.5rem;
                        font-weight: bold;
                        line-height: 1.6rem;
                    }

                    .lancamento-container .data .data-mob .mes {
                        font-size: 0.65rem;
                        font-weight: bold;
                        line-height: 0.75rem;
                    }

                .lancamento-container .descricao {
                    font-weight: bold;
                }

                .lancamento-container .categoria {
                    font-size: 0.75rem;
                    font-style: italic;
                }

                .lancamento-container .valor {
                }

                .lancamento-container .conta {
                    justify-content: end;
                    font-size: 0.75rem;
                    font-weight: 500;
                    color: var(--sys-color-dark-1);
                }

                .lancamento-container .opcoes {
                    display: none;
                }
        }

        .barra-filtro-periodo {
            display: none;
        }

        @@media (max-width: 991px) { /*lg*/

            .barra-filtro-periodo {
                padding: 0.75rem 2rem;
                background-color: var(--sys-color-dark-4);
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-size: 1.35rem;
                font-weight: 500;
                color: #fff;
                height: 3.25rem;
            }

                .barra-filtro-periodo i {
                    font-size: 1.5rem;
                }
        }

        .lancamento-rolagem {
            padding-bottom: 2rem;
        }

        .barra-bottom {
            position: fixed;
            bottom: 0;
            width: 100%;
            padding: 0.75rem 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            border-top: 1px solid #ccc;
        }

    </style>
}