html {
    scroll-snap-type: y mandatory;
}

section {
    border-top: 1px solid var(--sys-color-dark-2);
    border-bottom: 1px solid var(--sys-color-dark-2);
    padding: 1rem;
    height: 100vh;
    scroll-snap-align: start;
    text-align: center;
    position: relative;
}


.brand-mascot {
    height: 4rem !important;
    margin-bottom: -0.75rem;
    margin-top: -0.25rem;
}

.ml-font {
    font-family: 'Lovelo Black';
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

/* #region HERO */

.hero-container {
    animation: scd-keyframe--fadein 1s;
    height: 100vh;
    padding: 0;
    background: linear-gradient(210deg, var(--sys-color-dark-4) 45vh, white 45vh);
}

    .hero-container .hero-row {
        height: 100vh;
        padding-top: 4rem;
        max-width: 1800px;
        margin: 0 auto;
    }

    .hero-container .hero-card {
        margin-left: 2rem;
        margin-right: 2rem;
    }

        .hero-container .hero-card .slogan {
            font-size: 3.75rem;
            font-weight: bold;
            line-height: 4.75rem;
            color: var(--sys-color-dark-4);
            margin-bottom: 1rem;
            text-align: start;
        }

        .hero-container .hero-card .subtexto {
            margin: 2rem 0;
            font-size: 1.5rem;
            text-align: justify;
        }



    .hero-container .hero-image {
        width: 100%;
        height: auto;
    }

@media (max-width: 1440px) {

    .hero-container .hero-card .slogan {
        font-size: 3.25rem;
        line-height: 4rem;
    }

    .hero-container .hero-card .subtexto {
        margin: 1rem 0;
        font-size: 1.1rem;
    }
}


@media (max-width: 991px) { /*lg*/

    .hero-container {
        background: linear-gradient(to bottom, var(--sys-color-dark-4) 25vh, white 25vh);
    }

        .hero-container .hero-row {
            padding-top: 1rem;
            height: unset;
        }

        .hero-container .hero-card {
            margin-top: unset;
        }

            .hero-container .hero-card .slogan {
                font-size: 2.25rem;
                line-height: 2.75rem;
                text-align: center;
            }

            .hero-container .hero-card .subtexto {
                margin: 1.5rem 0;
                font-size: 1.1rem;
            }
}

/* #endregion */

/* #region Carousel */

#mlCarousel .carousel-item img {
    margin-bottom: 5rem;
}

@media (max-width: 991px) { /*lg*/
    #mlCarousel .carousel-item img {
        margin-bottom: 1rem;
    }
}

/* #endregion */

/* #region Folders */
.folder-container {
    margin: 0rem 0;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

    .folder-container .folder-card {
        position: absolute;
        bottom: 2vw;
        left: 2vw;
        color: white;
        background-color: rgba(0,0,0,0.75);
        width: 30vw;
        padding: 3rem;
        text-align: left;
        border-top: 5px solid var(--sys-color-dark-2);
    }

        .folder-container .folder-card .title {
            font-size: 2.5rem;
            line-height: 2.75rem;
            font-weight: bold;
            margin-bottom: 2rem;
            color: var(--sys-color-dark-4);
        }

        .folder-container .folder-card .par {
            font-size: 1.5rem;
            margin: 1rem 0;
        }

        .folder-container .folder-card .rolada-hint {
            display: flex;
            align-items: baseline;
            justify-content: end;
            color: white;
            font-size: 1.5rem;
            margin: 2rem -2rem -2rem 0;
        }

@media (max-width: 1440px) {

    .folder-container .folder-card {
        width: 33vw;
        padding: 2rem;
    }

        .folder-container .folder-card .title {
            font-size: 2rem;
            line-height: 2.25rem;
            margin-bottom: 1rem;
        }

        .folder-container .folder-card .par {
            font-size: 1.1rem;
        }

        .folder-container .folder-card .rolada-hint {
            font-size: 1.1rem;
            margin: 1.5rem -1.5rem -1.5rem 0;
        }
}

@media (max-width: 991px) { /*lg*/

    .folder-container .folder-card {
        width: 100vw;
        padding: 0.75rem 1.25rem;
        margin: -0.5rem;
        border: 0;
        background-size: unset;
    }

        .folder-container .folder-card .title {
            font-size: 1.5rem;
            line-height: 2.25rem;
            margin-bottom: 1.25rem;
        }

        .folder-container .folder-card .par {
            font-size: 1rem;
        }

        .folder-container .folder-card .rolada-hint {
            margin: unset;
        }
}

.folder-wizard {
    background-image: url('/img/landing/moneyloris-pic-wizard.jpg');
}

.folder-contas {
    background-image: url('/img/landing/moneyloris-pic-contas.jpg');
}

.folder-lancamento {
    background-image: url('/img/landing/moneyloris-pic-lancamento.jpg');
}

.folder-relatorio {
    background-image: url('/img/landing/moneyloris-pic-relatorio.jpg');
}

/* #endregion */

/* #region Utils */

.letra-miuda {
    font-size: 0.9rem;
}


@keyframes scd-keyframe--fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* #endregion */
