<div class="botao-voltar">
    <i aria-hidden="true" class="b-web fa-solid fa-circle-arrow-left" onclick="window.history.go(-1)"></i>
    <i aria-hidden="true" class="b-cel fa-solid fa-arrow-left" onclick="window.history.go(-1)"></i>
</div>