@using System.Security.Claims;

@{
    bool? esconderHeader = (bool?)ViewData["EsconderHeader"];
}

@if (!esconderHeader.HasValue || esconderHeader.Value == false)
{
    <header>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="img/moneyloris-logo-text.svg" alt="MONEY LORIS">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                @if (User.Identity!.IsAuthenticated)
                {
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            
                            @if (User.IsInRole("Usuario"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/Lancamento">Lançamentos</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Conta">Contas e Cartões</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/Categoria">Categorias</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="#">Relatórios</a>
                                </li>
                            }
                            else if (User.IsInRole("Administrador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" href="/Usuario">Usuários</a>
                                </li>
                            }

                            <li class="nav-item d-lg-none">
                                <a class="nav-link d-none" href="#" id="pwaAppInstaller">Instale o Money Loris no seu celular</a>
                            </li>

                        </ul>

                        <div class="d-inline-flex align-items-center">
                            <a class="nav-link me-3" href="#">
                                <i class="fa-solid fa-user fa-lg sys-fg-dark-3"></i>
                                <span class="ms-1">@User.UsuarioNome().PrimeiroNome()</span>
                            </a>
                            <a class="btn sys-bg-dark-3 sys-fg-dark-2 fw-bold" href="/Logout">Sair</a>
                        </div>
                    </div>
                }

            </div>
        </nav>

    </header>
}