<script>

    const Moeda = {

        name: 'Moeda',
        template: '#template-moeda',
        mixins: [BaseMixin],

        props: {
            valor: Number,
            retirarCor: Boolean,
            retirarSinal: Boolean,
            retirarCifrao: Boolean,
        },

        computed: {

            mostrarValor() {
                return (this.valor != null && this.valor != undefined);
            },

            cssClass() {

                if (this.retirarCor) return '';

                if (this.valor == 0) return 'sys-fg-dark-1';

                return (this.valor > 0 ? 'din-receita' : 'din-despesa');
            },

            formatado() {

                let params = {};

                params.minimumFractionDigits = 2;

                params.signDisplay = (this.retirarSinal ? 'never' : 'exceptZero');

                if (!this.retirarCifrao) {
                    params.style = 'currency';
                    params.currency = 'BRL';
                }

                let ret = Intl.NumberFormat('pt-BR', params).format(this.valor);

                return ret;
            }
        }
    }

</script>

<script type="text/html" id="template-moeda">
    <span v-if="mostrarValor" v-bind:class="cssClass">{{formatado}}</span>
    <span v-else>-</span>
</script>