@using (Html.VueTemplate())
{
    <script type="text/html" id="template-moeda">

        <span v-if="mostrarValor" v-bind:class="[positivo ? 'din-receita' : 'din-despesa']">{{formatado}}</span>
        <span v-else class="placeholder-glow"><span class="placeholder w-100"></span></span>

    </script>
}

@using (Html.VueScript())
{
    <script type="text/javascript">

        const Moeda = {

            name: 'Moeda',
            template: '#template-moeda',
            mixins: [BaseMixin],

            props: {
                valor: Number
            },

            computed: {

                mostrarValor() {
                    return (this.valor != null && this.valor != undefined);
                },

                positivo() {
                    return this.valor >= 0;
                },

                formatado() {
                    if (this.valor == 0)
                        return '-';
                    else
                        return Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' })
                            .format(this.valor);
                }
            }
        }

    </script>
}

@using (Html.VueStyle())
{
    @* Não há css específico deste componente *@
}